<div class="row">
  <div class="col-9">
    <ul>
      <% @components.each do |component| %>
        <li>
          <%= link_to component.name,
                      component,
                      class: 'link-dark link-underline-opacity-25 link-underline-opacity-75-hover' %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-3">
    <%= link_to 'New', new_component_path %>
  </div>
</div>

